@font-face {font-family: "iconfont";
  src: url('./iconfont/iconfont.eot?t=1573025597043'); /* IE9 */
  src: url('./iconfont/iconfont.eot?t=1573025597043#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABmgAAAKCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gRYBNgIkAwgLBgAEIAWEbQcwG7wFyK4xNoZ2TVoQ84ZdhSVH9GdMrk0EAD7i4fv92rnvv93FPKkmhoxn0UTGGyWJZYbUKUkbyUv4w441pi9S4nO2oBlHFGCB1fH7q4Wr8qwqG09O7B/zodnHg0ODEuuVcr3GBsgsAYysk0GsXicHmME5sSoMIZAY3gKtFztVr/3PNfXutj2PwvxAc4kIikqOBBzYdIBRRSPbSEa+YewCl3CcQIN+BFzbOjhOlWTWuECc+66RKuW8sswSdUK1ZmkWDyrq0mUa9+H3499clEgqBatk83DTTq18wU4p7ssc+AgfAa2uoMAsIBO7tdF1WcHIWEM0ZxjYV2HwhbL0LWKvRsH+Oiu/CfTCWPAFV3Kr+QnkuHsYsDDqJlKPq9P/44O0Xe8X9974eDBLxLucSuKz7emzMWbH6O6ve0+eoQIov4d8uNW4bv1Ud/7Oa/8s/fiQMRNCRUj5kJEmHf1OakkK5VdR5lcgeNx8+ZLZdY0ZfPxo6C6/sn526nZvC36TuGdT1qWWOWVVXGtPhkeNTWjQgBJ2drhjdd33lAx1uu/MXtOXQqHOKJoJs1DRaB6q6ixCgxl6daNOTVbkekybAEKbBUmLZyi02WgmHKjo8aCqLbLQYD+qWzYaD7+yztGQaIO5gGxR4jhWWYkKD9FVkcGz0pB5ilz4AZBMFBPbmCCfY0bX7mhIBwKnGBQ4DaOIoHAK0JK9JOViwnmoe1PPUpyqWMUhg4RswLgAMgtJOH5nqVL6/CHkUiIG3lJW4z2FOMHvHUiM6IFuq5JeZffySqe5RgbJAQKOxIACg1AkQkCpHxRAFqknjQgvTHC7Xeir6q2viT+gkFVh6VPY/QrVC1JCUSoFAAAA') format('woff2'),
  url('./iconfont/iconfont.woff?t=1573025597043') format('woff'),
  url('./iconfont/iconfont.ttf?t=1573025597043') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont/iconfont.svg?t=1573025597043#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


